var filters = {
  toFix: function (value) {
    return value.toFixed(2) // 此处2为保留两位小数，保留几位小数，这里写几    
  },
  toStr: function (value) {
    return value.toString()
  },
  toNum: function (value) {
    return value.toNumber()
  },
  countdown: function (value) {
    var secondTime = parseInt(value); // 秒
    var minuteTime = 0; // 分
    var hourTime = 0; // 时
    var days = 0;
    if (secondTime > 60) {
      //如果秒数大于60，将秒数转换成整数
      //获取分钟，除以60取整，得到整数分钟
      minuteTime = parseInt(secondTime / 60);
      //获取秒数，秒数取余，得到整数秒数
      secondTime = parseInt(secondTime % 60);
      //如果分钟大于60，将分钟转换成小时
      if (minuteTime > 60) {
        //获取小时，获取分钟除以60，得到整数小时
        hourTime = parseInt(minuteTime / 60);
        //获取小时后取余的分，获取分钟除以60取余的分
        minuteTime = parseInt(minuteTime % 60);
        if (hourTime > 24) {
          days = hourTime = parseInt(hourTime / 24);
          hourTime = parseInt(minuteTime % 24);
        }
      }
    }
    //若秒数是个位数，前面用0补齐
    secondTime = secondTime < 10 ? "0" + secondTime : secondTime;
    var result = "" + secondTime + "";
    if (minuteTime > 0) {
      //若分钟数是个位数，前面用0补齐
      minuteTime = minuteTime < 10 ? "0" + minuteTime : minuteTime;
      result = "" + minuteTime + ":" + result;
    } else {
      //若分钟数为0，用"00"表示
      result = "" + "00" + ":" + result;
    }


    if (hourTime > 0) {
      //若小时数是个位数，前面用0补齐
      hourTime = hourTime < 10 ? "0" + hourTime : hourTime;
      result = "" + hourTime + ":" + result;
    } else {
      //若小时数为0，用"00"表示
      result = "" + "00" + ":" + result;
    }
    if (days > 0) {
      result = "" + days + "天" + result;
    }
    return result;
  },
  countdownSplit: function (value) {
    var obj = {};
    var secondTime = parseInt(value); // 秒
    var minuteTime = 0; // 分
    var hourTime = 0; // 时
    var days = 0;
    if (secondTime > 60) {
      //如果秒数大于60，将秒数转换成整数
      //获取分钟，除以60取整，得到整数分钟
      minuteTime = parseInt(secondTime / 60);
      //获取秒数，秒数取余，得到整数秒数
      secondTime = parseInt(secondTime % 60);
      //如果分钟大于60，将分钟转换成小时
      if (minuteTime > 60) {
        //获取小时，获取分钟除以60，得到整数小时
        hourTime = parseInt(minuteTime / 60);
        //获取小时后取余的分，获取分钟除以60取余的分
        minuteTime = parseInt(minuteTime % 60);
        if (hourTime > 24) {
          days = hourTime = parseInt(hourTime / 24);
          hourTime = parseInt(minuteTime % 24);
        }
      }
    }
    //若秒数是个位数，前面用0补齐
    secondTime = secondTime < 10 ? "0" + secondTime : secondTime;
    obj.secondTime = "" + secondTime + "";
    if (minuteTime > 0) {
      //若分钟数是个位数，前面用0补齐
      minuteTime = minuteTime < 10 ? "0" + minuteTime : minuteTime;
      obj.minuteTime = "" + minuteTime;
    } else {
      //若分钟数为0，用"00"表示
      obj.minuteTime = "" + "00";
    }


    if (hourTime > 0) {
      //若小时数是个位数，前面用0补齐
      hourTime = hourTime < 10 ? "0" + hourTime : hourTime;
      obj.hourTime = "" + hourTime;
    } else {
      //若小时数为0，用"00"表示
      obj.hourTime = "" + "00";
    }
    if (days > 0) {
      obj.days = "" + days;
    } else {
      obj.days = "" + 0;
    }
    return obj;
  },
  toKm: function (value) {
    value = Number(value);
    return value < 1 ? (value * 1000).toFixed(2) + 'm' : value.toFixed(2) + 'km';
  },

}

module.exports = {
  toFix: filters.toFix,
  toStr: filters.toStr,
  toNum: filters.toNum,
  countdown: filters.countdown,
  countdownSplit: filters.countdownSplit,
  toKm: filters.toKm,
}